<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TITLE{% endblock %}</title>
</head>
<body>
    <!-- Flash messages section -->

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <section class="messages">
                <ul>
                    {% for category, msg in messages %}
                        <li class="{{ category }}">{{ msg }}</li>
                    {% endfor %}    
                </ul>
            </section>
        {% endif %}
    {% endwith %}

    <!-- Main content -->

    {% block content %}CONTENT{% endblock %}
</body>
</html>